body{
    background-color: black;
    background: linear-gradient(to right, #0440a9, #cb4acb);
    font-family: 'Arial', sans-serif;
   
    /* height: 100vh; */
    /* display: flex;
    flex-direction: row;
    flex:wrap; */
   
    margin :10px;
    /* justify-content: center;
    align-items: center; */
    

}
.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex:wrap;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;}
    .logo{
        width:50x;
        height:50px;
        margin-right: 5px;

    }
  #btn{
    padding: 20px;
    background-color:rgb(95, 95, 213) ;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .custom-button{
    padding: 10px 20px;
    background-color: rgb(95, 95, 213);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
